@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat+Alternates:wght@200;400&display=swap');

* {
    margin: 1%;
    padding: 0;
    box-sizing:border-box;}

    .home
    {
        font-family: 'Monserrat Alternates', sans-serif;
        font-size: 24px;
        font-weight: 600;
        color:#22D4FD;
        text-decoration: none;
    
    }
   

.imagem {
    border-radius: 20px;
    box-shadow: 0 0 20px #45bad1;
}



body {
    background-color: #000000;
    background: linear-gradient(160deg, #000000,#030331 );
    color: #F6F6F6;
    overflow: hidden;  
    height: 100vh;
   
}

.apresentacao {
    display: flex;
    justify-content:space-between; 
    padding: 1%;
    height: 50%;
    gap: 2px;
   margin-right: 10%;
   margin-left: 14%;
   
  
  
}

.paragrafo {
    font-size: 15px;
    font-family: 'Krona One', sans-serif;
}

