@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat+Alternates:wght@200;400&display=swap');

:root {
    --cor-principal:  #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terc: #22D4FD;
   

    --fonte-primaria: 'Montserrat Alternates', sans-serif;
    --fonte-secundaria: 'Krona One', sans-serif;

}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}


html {
    font-size: 16px;
}


body {
    
    box-sizing: border-box;
    background-color: #000000;
    background: url("/assets/code-removebg-preview.png"), linear-gradient(160deg, #000000,#0a0a49 );
    color: var(--cor-secundaria);
    height: 100%;
    background-repeat: no-repeat;
    background-position: right;
    
   
}


h1{
    font-weight: bold;
    text-align: justify;
 
}

span{
    color: var(--cor-terc); 
}



.cabecalho {
    padding: 2% 0 0 16%;
    gap: 5em
   
}


.cabecalhonav {

    color: var(--cor-terc);
}

.cabecalhomenu {
    font-family: var (--fonte-primaria);
    font-size: 2.25rem;
    font-weight: 600;
   
    color: var (var(--cor-terc));
    text-decoration: none;
    margin: 0 0.31rem;

}

.titulodestaque {
    color: var(--cor-terc);
}




/* main */

.apresentacao {
      
    margin-left: 10%;
    display: flex;
    align-items: center;
    justify-content:space-between; 
    padding: 6%;
    height: 50%;
    gap: 3.5em;
}

.apresentacao__cont {
   padding-right: 1%;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.apresentacao__cont__tit {
    font-size: 2.25rem;
    font-family:  var(--fonte-primaria);
   text-align: left;
    margin-right: 1.8em;
                }


.paragrafo {
    margin-top: 1rem;
    margin-left: 0.125em;
    font-size: 1rem;
    font-family: var(--fonte-secundaria);
}


.titdois { 
    margin-right: 20%;
    margin-left: 0.0625rem;
    margin-top: 1px;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 1.25rem;
}

.botao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 8%;
    margin-left: 2.5em;

}

.botaocor {
    
    background-color: #02032c;
    width: 15rem;
    text-align: center;
    gap: 1rem;
    text-indent:2%;
    border-radius: 0.87rem;
    font-size: 1.75rem;
    text-decoration: none;
    padding: 10px 19px 10px;
    font-family: var(--fonte-primaria);
    margin-right: 5rem;
    margin-top: 1.25rem;
    box-shadow: 0 0 10px var(--cor-secundaria);
    
}

.botaocor:hover {
    background-color:#0b0b48;
}




.imagem {
    border-radius: 20px;
    box-shadow: 0 0 20px  #45bad1;
    margin-top: 0%;
    
    
   
   
}



.rodape {
    color: var(--cor-secundaria);
    background-color: #030331;
    text-align: center;
    padding: 0.31rem;
    font-size: 1.25rem;
    font-family: var(--fonte-primaria);

}